body {
   background-color: #050214;
    color:#ffd1e6 ;
    font-family: 'poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
}
header {
  background-color:#3a0ca3 ;
}
.right ul{
    display: flex;
    gap: 20px;   
}

.right li {
  cursor: pointer;
  font-weight: 300;
  transition: color 0.3s ease;
  border-radius: 25px;
  padding: 8px 15px;
}

.right li:hover {
  color: #00b3ff;
  background-color: rgb(2, 10, 29);
}
nav {
  width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left{
  font-size: 1.3rem;
}
li{
    list-style: none;
}
.section1{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}
.section1 > div{
  width:30%;

}
.leftsec div{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.purple{
  color: #b877fa;
  font-size: 3rem;
}
a{
  text-decoration: none;
  color: #ffd1e6;
}
.leftsec{
  color:rgb(255, 255, 255);
  font-size: 3rem;
  margin:50px 0px 0px 180px;
}
.rightsec div{
  
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.white{
  color: white;
}
.img1{
  width: 80%;
  margin:40px 0;
}
.collimg1  {
  animation:scrolling2 2s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
  
}

@keyframes scrolling1 {
  0%{
    transform: translateX(600px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}
.collimg2  {
  animation:scrolling1 2s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
  
}

@keyframes scrolling2 {
  0%{
    transform: translateY(-100px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
.collimg3  {
  animation:scrolling3 2s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
  
}
@keyframes scrolling3 {
  0%{
    transform: translateX(-600px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translateX(0px) scale(1.);
    opacity: 1;
  }
}

.colltext{
  animation: blurIn 1.2s ease-out forwards;
  text-align: center;
  font-size: 2.5rem;
  width:50%;
  margin :100px auto;
}
@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
.colltext div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collimg{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 100px 0px 0px 20px;
  align-items: center;
}
.footer{
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


