body {
   background-color: rgb(2, 10, 29);
    color:rgb(157, 248, 255) ;
    font-family: 'poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
}
header {
  background-color: #050214;
}
.right ul{
    display: flex;
    gap: 20px;   
}

.right li {
  cursor: pointer;
  font-weight: 300;
  transition: color 0.3s ease;
}

.right li:hover {
  color: #38bdf8;
}
nav {
  width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
    list-style: none;
}












